.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 8px 8px 10px #0000008c;
    width: 100vw;
    height: 100vh;
   background: url(../img/background.png);
   background-repeat: repeat;
}
